/*archivo de recursos - variables , mixins*/
$quincep:4em;
$inclinacionup: 5deg;
$inclinaciondown:-5deg;
$colorHover: #788E83;
$bgMenu: #fccbbd;
/*header*/
$baseColor: white;
/*menu*/
$menuColor: #FEB88E;
/*background de secciones de portafolio- bloques*/
$bgBlocks: white;
$pleca: white;

$linea : #FEB88E;
$oscuro : #28C7A0;

/*#1BBDAC*/